@model FreelancerPlatform.Application.Dtos.Freelancer.PaymentConfirmViewModel

@{
    ViewData["Title"] = "Chi tiết xác thực thanh toán";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM4XLCue3r/9SO2u8l3i5TXtjpe3S74GCTZm+eX" crossorigin="anonymous">

<input id="payment-id" value="@Model.Id" type="hidden" />
<div class="container mt-4">
    <!-- Header with Selection -->
    <div class="header" style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: white; color: black; border-radius: 5px;">
        <h2 style="margin: 0;">Chi tiết Xác thực</h2>

        <!-- Selection Dropdown -->
        <select id="statusFilter" style="padding: 8px; width: 170px; border-radius: 5px; font-size: 14px;">
            <option selected="@(Model.VerifyStatus == false)" value="@false">Chưa xác thực</option>
            <option selected="@(Model.VerifyStatus == true)" value="@true">Xác thực</option>
            
        </select>
    </div>

    <!-- Transaction Details Card -->
    <div class="card mt-3">
        <div class="card-body">
            <p><i class="fas fa-user"></i> <strong>Mã tài khoản:</strong> @Model.Id</p>
            <p><i class="fas fa-id-card"></i> <strong>Tên tài khoản:</strong> @Model.LastName @Model.FirstName</p>
            <p><i class="fas fa-credit-card"></i> <strong>Số tài khoản nhận:</strong> @Model.BankNumber</p>
            <p><i class="fas fa-university"></i> <strong>Ngân hàng tài khoản nhận:</strong> @Model.BankName</p>
        </div>
    </div>
</div>
@section script {
    <script>
        $('body').on('change', '#statusFilter', function (e) { 
            e.preventDefault();
            var newId = $('#payment-id').val();
            var newStatus = $('#statusFilter').val();
            $.ajax({
                url: '/acount/updateverifypayment', 
                type: 'POST',
                data: {
                    id: newId,
                    status: newStatus
                },
                success: function (response) {
                    showSuccess("Cập nhật trạng thái xác thực thành công");
                },
                error: function (xhr) {
                    var errors = xhr.responseJSON.errors;

                    if (errors) {
                        var error = errors[0]; // Nếu có ít nhất một lỗi

                        var messages = error.errors;

                        if (messages.length > 1) {
                            showError(messages[1]);
                        } else {
                            showError(messages[0]);
                        }
                    } else {
                        showError('Đã xảy ra lỗi không xác định.'); // Xử lý lỗi không có phản hồi từ máy chủ
                    }
                }
            });
        });
    </script>
}